<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PV_analysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PV_analysis.Properties.Settings>
            <setting name="开关器件电压裕量" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="开关器件电流裕量" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="变压器窗口利用系数" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="电感最大气隙长度" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="电容电压裕量" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="电容电流裕量" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="电流密度" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="给定谐振电感" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="电感磁芯型号" serializeAs="String">
                <value />
            </setting>
            <setting name="电感磁芯数" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="电感气隙长度" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="电感绕线型号" serializeAs="String">
                <value />
            </setting>
            <setting name="电感绕线匝数" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="给定谐振电容" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="谐振电容型号1" serializeAs="String">
                <value />
            </setting>
            <setting name="谐振电容串联数" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="谐振电容并联数" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="给定变压器" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="变压器磁芯型号" serializeAs="String">
                <value />
            </setting>
            <setting name="变压器磁芯数" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="变压器原边绕线型号" serializeAs="String">
                <value />
            </setting>
            <setting name="变压器原边匝数" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="变压器副边绕线型号" serializeAs="String">
                <value />
            </setting>
            <setting name="变压器副边匝数" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="最大工作磁密" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="电容个数上限" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="电容不同型号数量上限" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="谐振电容型号2" serializeAs="String">
                <value />
            </setting>
            <setting name="谐振电容型号3" serializeAs="String">
                <value />
            </setting>
            <setting name="满载评估" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="磁芯数量上限" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="给定滤波电容" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="滤波电容型号" serializeAs="String">
                <value />
            </setting>
            <setting name="滤波电容串联数" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="滤波电容并联数" serializeAs="String">
                <value>0</value>
            </setting>
        </PV_analysis.Properties.Settings>
    </userSettings>
</configuration>